.page {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: black;
  padding: 45px calc((100% - 880px)/2) 60px;
}

@media screen and (max-width: 899px) {
  .page {
    padding: 28px 0 36px;
  }
}