.popup__form {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 430px;
  padding: 34px 36px 37px;
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 470px) {
  .popup__form {
    width: 90%;
    padding: 25px 22px;
  }
}